body {
  display: grid;
  text-align: center;
  width: 100vw;
  height: 100vh;
  background-color: #EBECF0;
  grid-template-areas: "SearchBar CreateProjectBtn" "NavBar NavBar" "Tile Tile";
  grid-template-columns: 7fr 1fr;
  grid-template-rows: 1fr 2fr 5fr;
  column-gap: 50px;
}

.SearchBar {
  display: flex;
  grid-area: SearchBar;
}

.CreateProjectBtn {
  display: flex;
  grid-area: CreateProjectBtn;
  align-items: center;
  justify-content: center;
}

.NavBar {
  display: flex;
  grid-area: NavBar;
}

.Tile {
  display: flex;
  grid-area: Tile;
}

/* Blue -> #3987E3
   Red -> #F47A7A
   Grey -> #EBECF0
   Green -> #58D277
*/